QWidget#titleWidget
{
    border-bottom: 1px solid #ccc;
    background-color: qlineargradient(
        x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #f7f7f7,
        stop: 1 #eee
        );
}

QWidget#quickRunWidget
{
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #f7f7f7;
}

QGraphicsView,
QPlainTextEdit,
QTableWidget,
QTextEdit
{
    border: 1px solid #ccc;
}

QWidget#ruleEdit,
QWidget#programEdit,
QWidget#graphEdit
{
    border-left: 1px solid #ccc;
}

QGroupBox
{
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 0.5em;
}

QGroupBox::title
{
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 0.5em;
    padding: 0 2px;
}
